<footer class="bg-primary-200 p-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <div>
        <h1 class="text-2xl text-primary-50 font-bold">Logo</h1>
        <p class="text-primary-150">Location: Isr Street gilrt awam juim</p>
        <p class="text-primary-150">Contact: +9 555555909</p>
        <p class="text-primary-150">Time: 9am-5pm EST, Mon-Fri</p>
        <p class="text-primary-150">Email: youme&#64;Rule.com</p>
      </div>
  
      <div>
        <h2 class="text-2xl font-bold">Company</h2>
        <p class="text-primary-150">Case Studies</p>
        <p class="text-primary-150">Privacy Policy</p>
        <p class="text-primary-150">Services</p>
      </div>
  
      <div>
        <h2 class="text-2xl font-bold">Explore</h2>
        <p class="text-primary-150">About Us</p>
        <p class="text-primary-150">Blog And News</p>
        <p class="text-primary-150">Pricing</p>
      </div>
  
      <div>
        <h2 class="text-2xl font-bold">Insurance</h2>
        <p class="text-primary-150">Health Insurance</p>
        <p class="text-primary-150">Business Insurance</p>
        <p class="text-primary-150">Life Insurance</p>
      </div>
    </div>
  </footer>