<div class="text-center my-12">
    <span class="text-primary-50 font-semibold">READY TO GET STARTED</span>
    <h1 class="font-bold text-3xl lg:text-4xl mx-auto my-4 max-w-xl">
      Get The Latest Insurance News In Minutes
    </h1>
    <p class="text-primary-150 mx-auto max-w-xl my-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ut officia eius consequatur fugit...
    </p>
  
    <div class="flex flex-wrap justify-center items-center gap-4">
      <input 
        class="border rounded-md px-4 py-2 focus:outline-none w-full sm:w-auto" 
        placeholder="Email address"
      />
      <button class="bg-primary-50 px-8 py-2 rounded-md text-primary-100 hover:bg-primary-100 border-primary-50 hover:border-2 hover:text-primary-50">
        Subscribe
      </button>
    </div>
  </div>