<div class="flex flex-wrap my-16 items-center">
    <div class="p-8 w-full lg:w-3/5">
      <h1 class="text-5xl lg:text-7xl font-bold my-6">
        Take The Worry Out Of Life With <span class="text-primary-50">Insurance</span> Protection
      </h1>
      <p class="text-2xl text-primary-150 my-6">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non perspiciatis quibusdam nulla accusantium deserunt facere ea minima exercitationem qui vel necessitatibus soluta eligendi, ratione molestiae eos voluptatem sapiente? Esse, fuga!
      </p>
      <div class="flex gap-4">
        <button class="bg-primary-50 rounded-md px-8 py-4 mx-4 text-primary-100 border-primary-50 border-2 hover:bg-primary-100 hover:text-primary-50">
          Get Started
        </button>
      <button class="bg-primary-100 px-6 py-2 rounded-md border-primary-50 border-2 text-primary-50 hover:bg-primary-50 hover:text-primary-100">
        Contact Us
      </button>
      </div>
    </div>
  
    <div class="w-full lg:w-2/5 flex justify-center">
      <img src="./assets/img1.png" class="max-w-full h-auto" alt="Insurance Image">
    </div>
  </div>